@import "typography";

my-app {
    width: 100%;

    > .hero-content {
        overflow: auto;
        position: relative;
        justify-content: flex-start !important;
        padding: 20px;
    }
}
