:host {
    display: flex;
}

:host .photo {
    margin-top: -20px;
    min-width: 300px;
}

:host .photo img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

:host .discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 769px) {
    :host {
        flex-wrap: wrap;
        justify-content: center;
    }
    :host .photo {
        margin-bottom: 20px;
    }
}
