<div class="project-component">
    <!--  PORTFOLIO -->
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">
                <a href="https://github.com/kirkbyers/portfolio" target="_blank">Kirk Byers: Portfolio</a>
            </p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </header>
        <div class="card-content">
            <div class="content has-text-left">
                <p>
                    I created my portfolio in a relatively short amount of time using Angular2.
                </p>
                <p>
                    While Angular2 is not necessary to serve mostly static content, I am very interested in the community around the framework.
                    In addition, this was my first project using TypeScript. I look forward to doing more with TypeScript.
                    I used Webpack to bundle assests and NPM as my task runner.
                </p>
                <br>
                <small>July 2016 (on going)</small>
            </div>
        </div>
        <footer class="card-footer">
            Relevant tools: Angular 2, Webpack, Bulma.io
        </footer>
    </div>
    <br>

    <!--  ATQ PLATFORM -->
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">
                <a href="https://play.attaqonline.com" target="_blank">Attaq Online Tournament Platform</a>
            </p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </header>
        <div class="card-content">
            <div class="content has-text-left">
                <p>
                    A web app that automates the formation, progression, and payout of tournaments for eSports. Currently League of Legends is the only game supported.
                </p>
                <p>
                    I worked with a small team to create this Single Page Application using Angular 1.5 for the UI. We leveraged SenecaJs, a Node microservice framework, on the back-end. The app is not optimized on mobile due to the nature of the game supported.
                </p>
                <br>
                <small>November 2015 - Pressent</small>
            </div>
        </div>
        <footer class="card-footer">
            Relevant tools (in order of experience): Angular 1.x, Gulp, SASS, Bootstrap, AWS, nodeJs, ExpressJs, MongoDB, SenecaJs
        </footer>
    </div>
    <br>

    <!--  ATQ HOME -->
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">
                <a href="http://www.attaqonline.com" target="_blank">Attaq Online</a>
            </p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </header>
        <div class="card-content">
            <div class="content has-text-left">
                <p>
                    The home domain for Attaq Online.
                </p>
                <p>
                    This project was primarly a rebrand for the company Arena Online. Given a short amount of time, I rebranded and added responsiveness to existing pages that needed it. I worked closely with buisness and marketing to provide features that would effectively help
                    user conversions.
                </p>
                <br>
                <small>May 2016</small>
            </div>
        </div>
        <footer class="card-footer">
            Relevant tools (in order of experience): Angular 1.x, Gulp, SASS, Bootstrap, AWS
        </footer>
    </div>
    <br>

    <!--  ATQ STATS -->
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">
                <a href="http://www.attaqonline.com/stats/summoners/25511754/overview" target="_blank">Attaq Online Stats</a>
            </p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </header>
        <div class="card-content">
            <div class="content has-text-left">
                <p>
                    A Single Page App that provides detailed stats for the game League of Legends.
                </p>
                <p>
                    I entered the project near the inital launch. I was mentored and guided through using client-side frameworks in a team enviornment. After launch, I was responsible for adding new features and maintaining the application. The application currently lives
                    on the company's home domain due to bussiness reasons.
                </p>
                <br>
                <small>July 2015 - November 2015</small>
            </div>
        </div>
        <footer class="card-footer">
            Relevant tools (in order of experience): Angular 1.x, Gulp, SASS, AWS, nodeJs, ExpressJs, MongoDB
        </footer>
    </div>
    <br>

    <!--  COMP PHYS -->
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">
                <a href="../../images/PRNG-testing_BYERS.pdf" target="_blank">Computational Physics: Pseudo-Random Number Generators</a>
            </p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </header>
        <div class="card-content">
            <div class="content has-text-left">
                <p>
                    Replicated tests and results from Testing Pseudo-Random Number Generators using a 2D Ising Model.
                </p>
                <br>
                <small>January 2015 - May 2015</small>
            </div>
        </div>
        <footer class="card-footer">
            Relevant tools (in order of experience): C++
        </footer>
    </div>
    <br>

    <!--  MITCHELL INSTITUTE -->
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">
                <a href="http://mitchell.tamu.edu/" target="_blank">Mitchell Institute at Texas A&M</a>
            </p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </header>
        <div class="card-content">
            <div class="content has-text-left">
                <p>
                    The home domain for the Mitchell Institute.
                </p>
                <p>
                    As a student technician, I developed and maintained Wordpress themes and installs on a small team. We were responsible for migrating content over from static sites, and bringing the content to this central site. The project evolved into user management.
                </p>
                <br>
                <small>June 2013 - May 2015</small>
            </div>
        </div>
        <footer class="card-footer">
            Relevant tools (in order of experience): Wordpress, Foundation, PHP, MySQL, Python (content scraping)
        </footer>
    </div>
</div>
