<p>
    I really enjoy meeting new people and solving problems. If
</p>

<!-- <div class="card">
    <header class="card-header">
        <div class="card-header-title">
            Social Media
        </div>
    </header>
    <div class="card-content">
        <div class="content">
            Content
        </div>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item">
            This is the card footer
        </div>
    </footer>
</div> -->
<div class="card">
    <header class="card-header">
        <div class="card-header-title">
            Email
        </div>
    </header>
    <div class="card-content">
        <div class="content">
            <a href="mailto:kirklbyers@gmail.com">kirklbyers@gmail.com</a>
        </div>
    </div>
</div>
<div class="card">
    <header class="card-header">
        <div class="card-header-title">
            Github
        </div>
    </header>
    <div class="card-content">
        <div class="content">
            Check out public code I've writen.
            <a href="https://github.com/kirkbyers" target="_blank">https://github.com/kirkbyers</a>
        </div>
    </div>
</div>
<div class="card">
    <header class="card-header">
        <div class="card-header-title">
            Twitter
        </div>
    </header>
    <div class="card-content">
        <div class="content">
            I don't tweet often, but drop me a follow or a direct message.
            <a href="https://twitter.com/Kirk_Byers" class="twitter-follow-button" data-show-count="false">Follow @Kirk_Byers</a>
        </div>
    </div>
</div>
