<h1 class="subtitle">
    I really enjoy meeting new people and solving problems. I would to love hear about the problems you are working on.
</h1>

<div class="cards">
    <div class="card">
        <header class="card-header">
            <div class="card-header-title">
                <a href="mailto:kirklbyers@gmail.com">Email</a>
            </div>
        </header>
        <div class="card-content">
            <div class="content">
                I'll be sure to get back to you soon. <br>
                <a href="mailto:kirklbyers@gmail.com">kirklbyers@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="card-header-title">
                <a href="https://github.com/kirkbyers" target="_blank">Github</a>
            </div>
        </header>
        <div class="card-content">
            <div class="content">
                Check out public code I've written.<br>
                <a href="https://github.com/kirkbyers" target="_blank">https://github.com/kirkbyers</a>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="card-header-title">
                <a href="https://twitter.com/Kirk_Byers" target="_blank">Twitter</a>
            </div>
        </header>
        <div class="card-content">
            <div class="content">
                I tweet occasionally; drop me a follow or a direct message. <br>
                <a href="https://twitter.com/Kirk_Byers" class="twitter-follow-button" data-show-count="false" target="_blank">@Kirk_Byers</a>
            </div>
        </div>
    </div>

</div>
