<div class="legend">
    <h3 class="subtitle">Skills rated from Novice to Senior</h3>
    <ul>
        <li class="is-success">Front End Fundamentals</li>
        <li class="is-info">Libraries and Frameworks</li>
        <li class="is-warning">Tools</li>
        <li class="is-danger">Misc.</li>
    </ul>
</div>
<div class="" *ngFor="#skill of skills">
    <h1 class="has-text-left">{{skill.name}}</h1>
    <progress [ngClass]="[skill.class]" class="progress is-primary" value="{{skill.rating}}" max="10"></progress>
</div>
