<div class="columns">
    <div class="column">
        Roll {{turn.totalRolls + 1}}
    </div>
</div>
<div class="columns">
    <div class="container column" *ngFor="#die of dice">
        <div class="">
            {{die.value}}
        </div>
        <div class="button" *ngIf="!die.keep" (click)="die.keep = !die.keep">
            Keep
        </div>
        <div class="button" *ngIf="die.keep" (click)="die.keep = !die.keep">
            Roll
        </div>
    </div>
</div>
<div class="columns">
    <div class="button column" (click)="rollTurn()" *ngIf="turn.totalRolls < 2">
        Reroll
    </div>
</div>
<div class="columns">
    <div class="button column" (click)="endTurn()">
        End Turn
    </div>
</div>
