<div class="photo">
    <img src="../src/client/images/profile.jpg" alt="Kirk Byers" />
</div>
<div class="discription">
    <h1 class="subtitle">
        I am a young, ambitious, and driven developer with a passion for JavaScript, games, and all things geeky. I am predominantly self-­taught, and graduated from Texas A&M with a degree in Physics.
    </h1>
    <h1 class="subtitle">
        I have experience ranging from developing web applications to building responsive wordpress themes.
    </h1>
</div>
